<section class="section contact bg-grey" id="contact">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-8">
               <div class="section-heading text-center">
                    <h2 class="mb-2 text-lg">Contact Us</h2>
                    <p>Feel free to contact us!</p>
               </div>
            </div>
        </div> <!-- / .row -->

        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="contact-info-block text-center mb-4">
                    <i class="ti-headphone-alt"></i>
                    <p class="mb-0">Give Feedback</p>
                    <h5>feedback@jacksdogsfamily.tk</h5>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="contact-info-block text-center mb-4">
                    <i class="ti-email"></i>
                    <p class="mb-0">Say Hello</p>
                    <h5>hello@jacksdogsfamily.tk</h5>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="contact-info-block text-center mb-4">
                    <i class="ti-location-pin"></i>
                    <p class="mb-0">Location<!--DISABLED: s--></p>
                    <h5><!-- DISABLED: Delaware, USA & -->Munich, Germany</h5>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- <div id="map" ></div> -->
