 <footer class="footer">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-6 col-sm-12">
                <div class="footer-widget">
                    <h2 class="mb-4">The Jack's Dogs Family</h2>
                    <p class="mb-4">On July 16, 2012, the brothers Aahash Sundararuban and Suriyaa Sundararuban introduced a brand-new comic strip with unlikely known hero, the pet owner Jack. “The Jack's Dogs Family” was born. Soon, readers will come to know and love a whole cast of multiple animal characters: A clumsy little dog named Dolinj, etc. But no one stole the show quite like Espeñiol, the coolest dog on the planet. From humble beginnings on the Internet, The creators of the Jack's Dogs Family franchise wants to make the whole world laugh again with joy. Making it one day the best-loved comic strip in history.</p>
                </div>
            </div>

            <div class="col-lg-6">
			<img src="images/about/jack.png" alt="" class="img-fluid w-100">
			<!-- DISABLED:
                <div class="subscribe ">
                    <h4 class="mb-4">Get up to 20% Discount</h4>
                    <input type="text" class="form-control mb-4"  placeholder="Put your email address">

                    <a href="#" class="btn btn-main">Download Now<i class="ti-angle-right ml-3"></i></a>  
                </div>
			-->
            </div>
        </div> 
    </div> 

   
    <div class="container">
        <div class="row footer-btm mt-5 pt-4 border-top">
            <div class="col-lg-6">
                <!-- Copyright -->
                <p class="footer-copy">
                    &copy; Copyright <span class="current-year">The Sundararuban brothers<!-- DISABLED: The Jack's Dogs Family creators Worldwide, LLC. -->.</span> All rights reserved.
                </p>
            </div>
            <div class="col-lg-6">
                <div class="footer-btm-menu text-lg-right">
                    <img src="images/about/cards-3.png" alt="" class="img-fluid">
                </div>
            </div>
        </div> <!-- / .row -->
    </div>
</footer>



<!--  Page Scroll to Top  -->

<a class="scroll-to-top smoth-scroll" href="#top-header">
    <i class="ti-angle-up"></i>
</a>
